body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(102, 101, 99);
    border-radius: 10px;
    max-width: 500px;
    overflow: hidden;
}
#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(149, 140, 123);
    color: white;
}



#keys {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 90px;
    border: none;
    background-color: rgb(188, 176, 148);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover {
    background-color: rgb(150, 138, 110);
}

.operator-btn {
    background-color: rgb(255, 159, 67);
}
.operator-btn:hover {
    background-color: rgb(255, 140, 47);
}